@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    line-height: 1.5;
    color: #555;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
header.header_bg{
    background: url('/img/bg3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
}
header.header_bg .container{
    position: absolute;
    width:100%;
    top:29%;
    text-align: center;
}
header.header_bg .logo{
    
}
header.header_bg .header h2{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 1.5px;
}
header.header_bg .top_menu{
    margin-top: 85px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}
header.header_bg .top_menu button{
    background: none;
    border:none;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;;
    padding: 13px 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 10px;
    border-bottom: 3px solid rgba(0,0,0,0.15);
}
header.header_bg .top_menu button:hover{
    opacity: 0.9;
}
header.header_bg .top_menu button.to_submit_form_button{
    background-color: #5D4157;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    color: #fff;
}
header.header_bg .top_menu button.to_about_button{
    background-color: #f9f9f9;
    color: #333;
}
section.info{
    text-align: center;
    margin-bottom: 50px;
}
section.info h3{
    margin-top: 60px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
}
section.info h4{
    color: #777777;
    margin-top: 20px;
    font-weight: 300;
    font-size: 22px;
}
section.info h4:after{
    content: '';
    display: block;
    margin: 30px auto 50px;
    width: 40px;
    border-top: 2px solid #444;
}
section.info img{
    width: 100%;
    max-width: 250px;
}
section.info .desc{
    text-align: left;
    font-weight:300;
    font-size: 17px;
}
section.gallery{
    background: url('/img/calendar_bg.jpg') 50% 50% repeat-y;
    height: 600px;
    width:100%;
    text-align: center;
    position: relative!important;
}
section.gallery h3{
    font-size: 30px;
    color: #ffffff;
    margin-top: 40px;
}
section.gallery h3:after{
    content: '';
    display: block;
    margin: 30px auto 50px;
    width: 40px;
    border-top: 2px solid #444;
}
.grid-item {
    width: 16.5%;
    display: inline-block;
}
.grid-item.double-size{
     width:33%;
 }
.grid-item>a{
    width: 100%;
}
.grid-item>a>img{
    width: 100%;
}